@page
@model DeployTools.Web.Pages.ApplicationsModel
@{
    ViewData["Title"] = "Applications";
}
@{
    <main class="pri_color_3_background pt-2">
    <div class="container mt-4">
        <h1 class="mb-4">Applications List</h1>
        <div class="mb-3">
            <form method="get" action="/ApplicationCreate">
                <button type="submit" class="btn btn-success">New Application</button>
            </form>
        </div>
        
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }

        @if (Model.Applications is { Count: > 0 })
        {
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Package</th>
                    <th>Domain</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var application in Model.Applications)
                {
                    <tr>
                        <td>@application.Id</td>
                        <td>@application.Name</td>
                        <td>@application.PackageName</td>
                        <td>@application.Domain</td>
                        <td>@application.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="id" value="@application.Id" />
                                <button type="submit" asp-page-handler="Delete"  class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            <form method="get" action="/ApplicationEdit" class="d-inline">
                                <input type="hidden" name="id" value="@application.Id" />
                                <button type="submit" class="btn btn-primary btn-sm mt-1">Edit</button>
                            </form>
                            <form method="get" action="/ApplicationDeploy" class="d-inline">
                                <input type="hidden" name="id" value="@application.Id" />
                                <button type="submit" class="btn btn-dark btn-sm mt-1">Deploy</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>No applications found.</p>
        }
    </div>
    </main>
}
