@page
@model DeployTools.Web.Pages.ApplicationEditModel
@{
    ViewData["Title"] = "Edit Application";
}
@{
<div class="container mt-4">
    <h1 class="mb-4">Edit Host</h1>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }
    <form method="post">
        <div class="mb-3">
            <label for="Id" class="form-label">Id</label>
            <input type="text" class="form-control" id="Id" name="Application.Id" value="@Model.Application.Id" required disabled>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" name="Application.Name" value="@Model.Application.Name" required disabled>
        </div>
        <div class="mb-3">
            <label for="Domain" class="form-label">Domain</label>
            <input type="text" class="form-control" id="Domain" name="Application.Domain" value="@Model.Application.Domain" required>
        </div>
        <div class="mb-3">
            <label for="PackageId" class="form-label">Package</label>
            <select class="form-select" id="PackageId" name="Application.PackageId" required>
                @foreach (var package in Model.ValidPackages)
                {
                    if (Model.Application.PackageId.Equals(package.Id))
                    {
                        <option value="@package.Id" selected>@package.Name</option>
                    }
                    else
                    {
                        <option value="@package.Id">@package.Name</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="RdsPackageId" class="form-label">RDS Package</label>
            <select class="form-select" id="RdsPackageId" name="Application.RdsPackageId">
                 @if (Model.Application.RdsPackageId is null)
                 {
                     <option value="NONE" selected>No RDS Package</option>
                 }
                 else
                 {
                     <option value="NONE">No RDS Package</option>
                 }
                 @foreach (var package in Model.ValidRdsPackages)
                 {
                        if (package.Id.Equals(Model.Application.RdsPackageId))
                     {
                         <option value="@package.Id" selected>@package.Name</option>
                     }
                     else
                     {
                         <option value="@package.Id">@package.Name</option>
                     }
                 }
            </select>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
}