@page
@model DeployTools.Web.Pages.RdsPackagesModel
@{
    ViewData["Title"] = "RDS Packages";
}
@{
    <main class="pri_color_3_background pt-2">
    <div class="container mt-4">
        <h1 class="mb-4">RDS Packages List</h1>
        <div class="mb-3">
            <form method="get" action="/RdsPackageCreate">
                <button type="submit" class="btn btn-success">New RDS Package</button>
            </form>
        </div>
        
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }

        @if (Model.RdsPackages is { Count: > 0 })
        {
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Engine</th>
                    <th>Version</th>
                    <th>DB Instance</th>
                    <th>Storage Type</th>
                    <th>Storage Size</th>
                    <th>VPC ID</th>
                    <th>VPC Security Group ID</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var rdsPackage in Model.RdsPackages)
                {
                    <tr>
                        <td>@rdsPackage.Id</td>
                        <td>@rdsPackage.Engine</td>
                        <td>@rdsPackage.EngineVersion</td>
                        <td>@rdsPackage.DbInstance</td>
                        <td>@rdsPackage.StorageType</td>
                        <td>@rdsPackage.StorageInGigabytes</td>
                        <td>@rdsPackage.VpcId</td>
                        <td>@rdsPackage.VpcSecurityGroupId</td>
                        <td>@rdsPackage.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="id" value="@rdsPackage.Id" />
                                <button type="submit" asp-page-handler="Delete"  class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            <form method="get" action="/RdsPackageEdit" class="d-inline">
                                <input type="hidden" name="id" value="@rdsPackage.Id" />
                                <button type="submit" class="btn btn-primary btn-sm mt-1">Edit</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>No RDS Packages found.</p>
        }
    </div>
    </main>
}
